<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style/style.css">
    {% include "template/_highlightjs.njk" %}
    <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {
        inlineMath: [['$','$'], ['\\(','\\)']],
        processEscapes: true
      }
    });
    </script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
</head>
<body>
{% block title %}
    <header>
        <h1 class="title">{{ title }}</h1> {% if author %}
        <div class="author">{{ author }}</div>{% endif %}{% if date %}
        <div class="date">{{ date }}</div>{% endif %}
    </header>
{% endblock %}
{% block content %}
    <section>
        <p>default content</p>
    </section>
{% endblock %}
</body>
</html>
