<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style/style.css">
</head>
<body>
{% block title %}
    <header>
        <h1 class="title">{{ title }}</h1> {% if author %}
        <div class="author">{{ author }}</div>{% endif %}{% if date %}
        <div class="date">{{ date }}</div>{% endif %}
    </header>
{% endblock %}
{% block content %}
    <section>
        <p>default content</p>
    </section>
{% endblock %}
</body>
</html>
