<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="./style/style.css">
</head>
<body>
{% block content %}
<p>default content</p>
{% endblock %}
</body>
</html>