@page {
  size: A4;
  margin: 20mm;

  @bottom-center {
    content: counter(page);
  }

  /* noinspection Stylelint */
  @bottom-left-corner {
    content: "";
    background-color: #000;
  }
}

section {
  break-before: page;
  break-after: page;
}
