@page {
  size: A4;
  margin: 20mm;

  @bottom-center {
    content: counter(page);
  }

  @bottom-left-corner {
    content: "";
    background-color: #000;
  }
}

section {
  break-before: page;
  break-after: page;
}

figcaption {
  counter-increment: fig;
}

figcaption::before {
  content: "図" counter(fig) ". ";
}

/*
// Chrome web extensionではうまく動作しない
a.figref::after {
  content: "図" target-counter(attr(href), fig);
}
*/

img {
  max-width: 100%;
}
