{% extends "template/base.njk" %}
{% set title = "report" %}
{% set author = "the author name" %}
{% set date = "2017/12/01" %}
{% block content %}
<section>
    <p>section 1</p>
</section>
<section>
    <p>section 2</p>
</section>
<p>abc</p>
{% endblock %}
